* {
  box-sizing: border-box;
}

:root {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
  background-color: #1C2120;
}

#root {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #1C2120;
  min-height: 100vh;
  height: -moz-fit-content;
  height: fit-content;
}

nav {
  width: 100vw;
  max-width: 1400px;
  height: 50px;
  display: flex;
  background-color: #2B3B38;
  color: #C1E0DC;
}
nav::before {
  content: "";
  position: absolute;
  background-color: #2B3B38;
  height: 50px;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

.nav_options {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  max-width: 1400px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 2rem;
}
.nav_options::before {
  content: "";
  background-color: #1C2120;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.nav_options .active::before {
  content: "";
  position: absolute;
  background-color: #2B3B38;
  height: 6px;
  bottom: 0;
  left: 0;
  right: 0;
}
.nav_options a {
  text-decoration: none;
  color: #C1E0DC;
  font-size: 4rem;
  font-weight: 800;
  display: block;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 2rem;
}
.nav_options a:not(.active):before {
  content: "";
  position: absolute;
  background-color: #2B3B38;
  height: 6px;
  bottom: 0;
  left: 0;
  width: 0%;
  transition-duration: 200ms;
}
.nav_options a:hover:before {
  content: "";
  position: absolute;
  background-color: #2B3B38;
  height: 6px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  transition-duration: 200ms;
}

.exit_nav {
  position: fixed;
  margin-top: 2rem;
  height: 80px;
  width: auto;
  z-index: 10;
  transition-duration: 200ms;
}
.exit_nav:hover {
  cursor: pointer;
  scale: 1.1;
  transition-duration: 100ms;
}

.menu_button {
  margin: auto 1rem;
  height: 36px;
}

main {
  margin: 1rem 2rem;
}

h1 {
  color: #FAFFFF;
  font-size: 5rem;
  margin-bottom: 1rem;
}

p {
  color: #FAFFFF;
  font-size: 1.4rem;
}

.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin: 2rem 1rem;
}
.imageGrid .polaroid {
  background-color: rgb(235, 242, 231);
  padding: 1rem;
  padding-bottom: 4rem;
  transition-duration: 100ms;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 4px 4px 6px;
}
.imageGrid .polaroid:hover {
  scale: 0.98;
  transition-duration: 100ms;
  cursor: pointer;
}
.imageGrid .polaroid:active {
  scale: 0.96;
}
.imageGrid img {
  width: 100%;
  height: auto;
}

.singleImageDiv {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8rem;
}
.singleImageDiv .singleImage {
  width: auto;
  max-width: 100vw;
  height: 100%;
  max-height: 100vh;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
  display: block;
}
.singleImageDiv .imageButton {
  height: 100px;
  width: auto;
  position: absolute;
  transition-duration: 100ms;
}
.singleImageDiv .imageButton:hover {
  cursor: pointer;
  scale: 1.1;
  transition-duration: 100ms;
}
.singleImageDiv .imageExit {
  top: 2rem;
}
.singleImageDiv .imageLeft {
  top: 50%;
  margin-top: -50px;
  left: 5%;
}
.singleImageDiv .imageRight {
  top: 50%;
  margin-top: -50px;
  right: 5%;
}/*# sourceMappingURL=index.css.map */