$white: #FAFFFF;
$light_green: #C1E0DC;
$dark_green: #2B3B38;
$black: #1C2120;


:root {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;

  background-color: $black;
}

nav {
  width: 100vw;
  height: 50px;
  background-color: $dark_green;
  color: $light_green;
}

.nav_options {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: $black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 2rem;
  padding: 0 2rem;

  .active::before {
    content: "";
    position: absolute;
    background-color: $dark_green;
    height: 6px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  a {
    text-decoration: none;
    color: $light_green;
    font-size: 4rem;
    font-weight: 800;
    display: block;
    position: relative;
    width: fit-content;

    &:not(.active):before {
      content: "";
      position: absolute;
      background-color: $dark_green;
      height: 6px;
      bottom: 0;
      left: 0;
      width: 0%;
      transition-duration: 200ms;
    }

    &:hover:before {
      content: "";
      position: absolute;
      background-color: $dark_green;
      height: 6px;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      transition-duration: 200ms;
    }
  }
}

.exit_nav {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 10;
}